@model Smartsp.aspire.dashborad.Models.MSPCompareBySourceData
@using Smartsp.aspire.dashborad.Extensions;

<h5>@Model.ViewTitle</h5>
@if (Model != null && Model.Region != null)
{
    <h4>@Model.Region.RegionName</h4>
}
@if (Model != null && Model.Year != 0)
{
    <h4>@Model.Year</h4>
}
<button id="printButton" style="float:right;margin-bottom:10px" type="button" class="btn btn-default">Скачать в Excel</button>
<table class="table" border="1" cellpadding="2" cellspacing="2">
    <tr>
        <th class="mcpheader" rowspan="2">@Model.ViewTableFirstColTitle</th>
        @foreach (var item in Model.ValuesByYear)
        {
            <th class="mcptext" colspan="@item.Columns.Count" style="text-align:center;">
                @item.Title
            </th>
        }
    </tr>
    <tr>
        @foreach (var item in Model.ValuesByYear)
        {
            foreach (var col in item.Columns)
            {
                <th class="mcpvalue">@col.Title</th>
            }
        }
    </tr>
    @foreach (var row in Model.RowTitlePairList)
    {
        <tr>
            <th class="headcol mcptext">@row.Value</th>
            @foreach (var item in Model.ValuesByYear)
            {
                foreach (var col in item.Columns)
                {
                    <th class="mcpvalue">@col.Values.FirstOrDefault(x => x.Key == row.Value).Value.ToFormattedString()</th>
                }
            }
        </tr>
    }
</table>
